<!-- templates/login.html -->
{% extends "base.html" %} {% block page_title %}Login{% endblock %} {% block
page_subtitle %}Masuk dengan email untuk mulai kuis dan naikkan skor.{% endblock
%} {% block content %}
<div class="card">
  <form method="post">
    <label>Email</label>
    <input type="text" name="email" required />

    <label>Password</label>
    <input type="password" name="password" required />

    <div style="height: 12px"></div>
    <button class="btn btn-primary" type="submit">Masuk</button>
    <a class="btn btn-ghost" href="{{ url_for('register') }}">Buat akun baru</a>
  </form>
</div>
{% endblock %}
